.ScreenshotPage {
  padding: 24px;
}

.OriginalUrl {
  padding: 8px 14px;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 50px;
  margin-bottom: 24px;
}

.OriginalUrl:hover {
  background-color: #f9f9f9;
}
